:root {
    --grey-0: hsl(0, 0%, 97%);
    --grey-1: hsl(0, 0%, 88%);
    --grey-2: hsl(0, 0%, 81%);
    --grey-3: hsl(0, 0%, 69%);
    --grey-4: hsl(0, 0%, 62%);
    --grey-5: hsl(0, 0%, 49%);
    --grey-6: hsl(0, 0%, 38%);
    --grey-7: hsl(0, 0%, 32%);
    --grey-8: hsl(0, 0%, 23%);
    --grey-9: hsl(0, 0%, 13%);
}